<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	
	<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200|Lato:300,400,700|Pacifico' rel='stylesheet' type='text/css' />
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/icons.css" | prepend: site.baseurl }}">
</head>
